<div class="card  mt-5 " style="background-color:#4d774e">
	<h1 class="text-center">Editing album</h1>

	<%= render "form", album: @album %>

	<div class="text-center"> <%= link_to "Show this album", @album , class:"btn btn-primary m-2"%>
	</div> 
</div>
